{% extends "main.html" %} 
  
<!-- Content --> 
{% block content %} 
  <div style="text-align: center;">
    <img src="/static/images/logo/PBG_logo_W@300x.png" alt="404 Image" style="width: 50%; max-width: 400px; padding-bottom: 1rem;">
    <h1 style="font-size: 35px;">404 - Not found</h1>
    <p style="font-size: 20px;">Oops!✨ Sembra che tu abbia perso la strada nel mondo del 404.

      Non temere, anche gli errori ci insegnano qualcosa. Respira profondamente, abbraccia lo zen di Python e ritorna al percorso principale con "import this".

      Continua a programmare, continua a esplorare!</p>
    <hr style="border-top: 2px solid grey;">
    <p style="font-size: 20px;">Oops!✨ It seems like you've lost your way in the world of 404.

      Don't worry, even errors teach us something. Take a deep breath, embrace the Zen of Python, and return to the main path with "import this".

      Keep coding, keep exploring!</p>
  </div>
{% endblock %}