{% extends "main.html" %} 
  
<!-- Content --> 
{% block content %} 
  <div style="text-align: center;">
    <img src="/static/images/logo/PBG_logo_W@300x.png" alt="404 Image" style="width: 50%; max-width: 400px; padding-bottom: 1rem;">
    <h1 style="font-size: 35px;">404 - Not found</h1>
    <p style="font-size: 20px;">Oops!✨ It seems like you've lost your way in the world of 404.

      Don't worry, the page you're looking for seems to have hidden away for a bit. But fear not, there are still plenty
      of interesting things to discover here!

      Go back and continue your exploration, you might find something surprising along the way!
      <br>
      Good luck! 🌟🗺️
    </p>
    <hr style="border-top: 2px solid grey;">
    <p style="font-size: 20px;">Ops!✨ Sembra che tu abbia perso la strada nel mondo del 404.

        Non preoccuparti, la pagina che cerchi sembra essersi nascosta per un po'. Ma non temere, ci sono ancora molte cose interessanti da scoprire qui!
        
        Torna indietro e continua la tua esplorazione, potresti trovare qualcosa di sorprendente lungo il percorso!
        <br>
        Buona fortuna! 🌟🗺️</p>
  </div>
{% endblock %}