{% extends "main.html" %} 
  
<!-- Content --> 
{% block content %} 
  <div style="text-align: center;">
    <img src="/static/images/logo/PBG_logo_W@300x.png" alt="404 Image" style="width: 50%; max-width: 400px;">
    <h1 style="font-size: 24px;">404 - Not found</h1>
    <p style="font-size: 16px;">Ops!✨ Sembra che tu abbia perso la strada nel mondo del 404.

        Non preoccuparti, la pagina che cerchi sembra essersi nascosta per un po'. Ma non temere, ci sono ancora molte cose interessanti da scoprire qui!
        
        Torna indietro e continua la tua esplorazione, potresti trovare qualcosa di sorprendente lungo il percorso!
        
        Buona fortuna! 🌟🗺️</p>
  </div>
{% endblock %}