.homepage_icon {
  fill: #fff;
  width: 3rem;
  display: inline-block;
  transition: all 0.2s ease-in-out;
  margin-left: 1rem;
  margin-right: 1rem;
}

.homepage_logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  width: 30%;
  padding-top: calc(10vh);
}

.homepage_container {
  text-align: center; 
  padding-top: calc(10vh);
}

.home_normal_text {
  display: grid;
  justify-items: center;
  margin-left: 3rem;
  padding-left: 1rem;
  margin-right: 3rem;
  padding-right: 1rem;
  color: white;
  font-family: var(--md-text-font);
  font-size: 1rem;
  line-height: 1.5;
}

.home_normal_text .middle_content {
  grid-column: 2;
}
  
.homepage_icon:hover {
  fill: #ccc;
  transform: scale(1.2);
}

@media (max-width: 768px) {
  .homepage_icon {
    width: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .homepage_logo {
    width: 50%;
    padding-top: calc(3vh);
  }
  .home_normal_text {
    font-size: 0.8rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
    margin-right: 1rem;
    padding-right: 0.5rem;
    font-size: 1rem;
    line-height: 1.5;
  }
}

@media (max-width: 375px) {
  .homepage_icon {
    width: 2rem;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  .homepage_logo {
    width: 30%;
    padding-top: calc(2vh);
  }
  .home_normal_text {
    font-size: 0.7rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
    margin-right: 1rem;
    padding-right: 0.5rem;
  }
}

.homepage_arrow {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(-0.2rem);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
}

/* mailchimp signup form on blog page */
#mc_embed_signup{
  clear:left; 
  width: 400px;
}
